StoryHubServices/ConsoleForTestingServices/Service References/ServiceReference1/AuthorizationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthorizationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53706/AuthorizationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53706/AuthorizationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53706/AuthorizationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:53706/AuthorizationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthorizationService_VerifyPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyPassword" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationService_VerifyPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationService_VerifyEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyEmail" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationService_VerifyEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationService_RemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="IAuthorizationService_RemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthorizationService">
    <wsdl:operation name="VerifyPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorizationService/VerifyPassword" message="tns:IAuthorizationService_VerifyPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorizationService/VerifyPasswordResponse" message="tns:IAuthorizationService_VerifyPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorizationService/VerifyEmail" message="tns:IAuthorizationService_VerifyEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorizationService/VerifyEmailResponse" message="tns:IAuthorizationService_VerifyEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorizationService/Register" message="tns:IAuthorizationService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorizationService/RegisterResponse" message="tns:IAuthorizationService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthorizationService/RemoveUser" message="tns:IAuthorizationService_RemoveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthorizationService/RemoveUserResponse" message="tns:IAuthorizationService_RemoveUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthorizationService" type="tns:IAuthorizationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerifyPassword">
      <soap:operation soapAction="http://tempuri.org/IAuthorizationService/VerifyPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyEmail">
      <soap:operation soapAction="http://tempuri.org/IAuthorizationService/VerifyEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IAuthorizationService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap:operation soapAction="http://tempuri.org/IAuthorizationService/RemoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthorizationService">
    <wsdl:port name="BasicHttpBinding_IAuthorizationService" binding="tns:BasicHttpBinding_IAuthorizationService">
      <soap:address location="http://localhost:53706/AuthorizationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>