StoryHub/QuickTestProject/Web References/MyReference2/GetSimpleDataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StoryHub.DAL.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StoryHub.DAL.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.h1002584.qshapps.net/GetSimpleDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorEgo" nillable="true" type="tns:Author" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FavouriteGenres" nillable="true" type="tns:ArrayOfGenre" />
      <xs:element minOccurs="0" name="HasNewContent" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastCheckTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Storylines" nillable="true" type="tns:ArrayOfStoryline" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Author">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorGender" type="tns:Gender" />
      <xs:element minOccurs="0" name="AuthorGenres" nillable="true" type="tns:ArrayOfGenre" />
      <xs:element minOccurs="0" name="AuthorNationality" type="tns:Nationality" />
      <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pseudonyme" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Stories" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Surename" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Author" nillable="true" type="tns:Author" />
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
      <xs:enumeration value="Shklee" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:complexType name="ArrayOfGenre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Genre" type="tns:Genre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenre" nillable="true" type="tns:ArrayOfGenre" />
  <xs:simpleType name="Genre">
    <xs:restriction base="xs:string">
      <xs:enumeration value="fantasy" />
      <xs:enumeration value="horror" />
      <xs:enumeration value="scifi" />
      <xs:enumeration value="romantic" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Genre" nillable="true" type="tns:Genre" />
  <xs:simpleType name="Nationality">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Afghan" />
      <xs:enumeration value="Albanian" />
      <xs:enumeration value="Algerian" />
      <xs:enumeration value="American" />
      <xs:enumeration value="Andorran" />
      <xs:enumeration value="Angolan" />
      <xs:enumeration value="Antiguans" />
      <xs:enumeration value="Argentinean" />
      <xs:enumeration value="Armenian" />
      <xs:enumeration value="Australian" />
      <xs:enumeration value="Austrian" />
      <xs:enumeration value="Azerbaijani" />
      <xs:enumeration value="Bahamian" />
      <xs:enumeration value="Bahraini" />
      <xs:enumeration value="Bangladeshi" />
      <xs:enumeration value="Barbadian" />
      <xs:enumeration value="Barbudans" />
      <xs:enumeration value="Batswana" />
      <xs:enumeration value="Belarusian" />
      <xs:enumeration value="Belgian" />
      <xs:enumeration value="Belizean" />
      <xs:enumeration value="Beninese" />
      <xs:enumeration value="Bhutanese" />
      <xs:enumeration value="Bolivian" />
      <xs:enumeration value="Bosnian" />
      <xs:enumeration value="Brazilian" />
      <xs:enumeration value="British" />
      <xs:enumeration value="Bruneian" />
      <xs:enumeration value="Bulgarian" />
      <xs:enumeration value="Burkinabe" />
      <xs:enumeration value="Burmese" />
      <xs:enumeration value="Burundian" />
      <xs:enumeration value="Cambodian" />
      <xs:enumeration value="Cameroonian" />
      <xs:enumeration value="Canadian" />
      <xs:enumeration value="Cape_Verdean" />
      <xs:enumeration value="Central_African" />
      <xs:enumeration value="Chadian" />
      <xs:enumeration value="Chilean" />
      <xs:enumeration value="Chinese" />
      <xs:enumeration value="Colombian" />
      <xs:enumeration value="Comoran" />
      <xs:enumeration value="Congolese" />
      <xs:enumeration value="Costa_Rican" />
      <xs:enumeration value="Croatian" />
      <xs:enumeration value="Cuban" />
      <xs:enumeration value="Cypriot" />
      <xs:enumeration value="Czech" />
      <xs:enumeration value="Danish" />
      <xs:enumeration value="Djibouti" />
      <xs:enumeration value="Dominican" />
      <xs:enumeration value="Dutch" />
      <xs:enumeration value="East_Timorese" />
      <xs:enumeration value="Ecuadorean" />
      <xs:enumeration value="Egyptian" />
      <xs:enumeration value="Emirian" />
      <xs:enumeration value="Equatorial_Guinean" />
      <xs:enumeration value="Eritrean" />
      <xs:enumeration value="Estonian" />
      <xs:enumeration value="Ethiopian" />
      <xs:enumeration value="Fijian" />
      <xs:enumeration value="Filipino" />
      <xs:enumeration value="Finnish" />
      <xs:enumeration value="French" />
      <xs:enumeration value="Gabonese" />
      <xs:enumeration value="Gambian" />
      <xs:enumeration value="Georgian" />
      <xs:enumeration value="German" />
      <xs:enumeration value="Ghanaian" />
      <xs:enumeration value="Greek" />
      <xs:enumeration value="Grenadian" />
      <xs:enumeration value="Guatemalan" />
      <xs:enumeration value="Guinea_Bissauan" />
      <xs:enumeration value="Guinean" />
      <xs:enumeration value="Guyanese" />
      <xs:enumeration value="Haitian" />
      <xs:enumeration value="Herzegovinian" />
      <xs:enumeration value="Honduran" />
      <xs:enumeration value="Hungarian" />
      <xs:enumeration value="I_Kiribati" />
      <xs:enumeration value="Icelander" />
      <xs:enumeration value="Indian" />
      <xs:enumeration value="Indonesian" />
      <xs:enumeration value="Iranian" />
      <xs:enumeration value="Iraqi" />
      <xs:enumeration value="Irish" />
      <xs:enumeration value="Israeli" />
      <xs:enumeration value="Italian" />
      <xs:enumeration value="Ivorian" />
      <xs:enumeration value="Jamaican" />
      <xs:enumeration value="Japanese" />
      <xs:enumeration value="Jordanian" />
      <xs:enumeration value="Kazakhstani" />
      <xs:enumeration value="Kenyan" />
      <xs:enumeration value="Kittian_and_Nevisian" />
      <xs:enumeration value="Kuwaiti" />
      <xs:enumeration value="Kyrgyz" />
      <xs:enumeration value="Laotian" />
      <xs:enumeration value="Latvian" />
      <xs:enumeration value="Lebanese" />
      <xs:enumeration value="Liberian" />
      <xs:enumeration value="Libyan" />
      <xs:enumeration value="Liechtensteiner" />
      <xs:enumeration value="Lithuanian" />
      <xs:enumeration value="Luxembourger" />
      <xs:enumeration value="Macedonian" />
      <xs:enumeration value="Malagasy" />
      <xs:enumeration value="Malawian" />
      <xs:enumeration value="Malaysian" />
      <xs:enumeration value="Maldivan" />
      <xs:enumeration value="Malian" />
      <xs:enumeration value="Maltese" />
      <xs:enumeration value="Marshallese" />
      <xs:enumeration value="Mauritanian" />
      <xs:enumeration value="Mauritian" />
      <xs:enumeration value="Mexican" />
      <xs:enumeration value="Micronesian" />
      <xs:enumeration value="Moldovan" />
      <xs:enumeration value="Monacan" />
      <xs:enumeration value="Mongolian" />
      <xs:enumeration value="Moroccan" />
      <xs:enumeration value="Mosotho" />
      <xs:enumeration value="Motswana" />
      <xs:enumeration value="Mozambican" />
      <xs:enumeration value="Namibian" />
      <xs:enumeration value="Nauruan" />
      <xs:enumeration value="Nepalese" />
      <xs:enumeration value="New_Zealander" />
      <xs:enumeration value="Nicaraguan" />
      <xs:enumeration value="Nigerian" />
      <xs:enumeration value="Nigerien" />
      <xs:enumeration value="North_Korean" />
      <xs:enumeration value="Northern_Irish" />
      <xs:enumeration value="Norwegian" />
      <xs:enumeration value="Omani" />
      <xs:enumeration value="Pakistani" />
      <xs:enumeration value="Palauan" />
      <xs:enumeration value="Panamanian" />
      <xs:enumeration value="Papua_New_Guinean" />
      <xs:enumeration value="Paraguayan" />
      <xs:enumeration value="Peruvian" />
      <xs:enumeration value="Polish" />
      <xs:enumeration value="Portuguese" />
      <xs:enumeration value="Qatari" />
      <xs:enumeration value="Romanian" />
      <xs:enumeration value="Russian" />
      <xs:enumeration value="Rwandan" />
      <xs:enumeration value="Saint_Lucian" />
      <xs:enumeration value="Salvadoran" />
      <xs:enumeration value="Samoan" />
      <xs:enumeration value="San_Marinese" />
      <xs:enumeration value="Sao_Tomean" />
      <xs:enumeration value="Saudi" />
      <xs:enumeration value="Scottish" />
      <xs:enumeration value="Senegalese" />
      <xs:enumeration value="Serbian" />
      <xs:enumeration value="Seychellois" />
      <xs:enumeration value="Sierra_Leonean" />
      <xs:enumeration value="Singaporean" />
      <xs:enumeration value="Slovakian" />
      <xs:enumeration value="Slovenian" />
      <xs:enumeration value="Solomon_Islander" />
      <xs:enumeration value="Somali" />
      <xs:enumeration value="South_African" />
      <xs:enumeration value="South_Korean" />
      <xs:enumeration value="Spanish" />
      <xs:enumeration value="Sri_Lankan" />
      <xs:enumeration value="Sudanese" />
      <xs:enumeration value="Surinamer" />
      <xs:enumeration value="Swazi" />
      <xs:enumeration value="Swedish" />
      <xs:enumeration value="Swiss" />
      <xs:enumeration value="Syrian" />
      <xs:enumeration value="Taiwanese" />
      <xs:enumeration value="Tajik" />
      <xs:enumeration value="Tanzanian" />
      <xs:enumeration value="Thai" />
      <xs:enumeration value="Togolese" />
      <xs:enumeration value="Tongan" />
      <xs:enumeration value="Trinidadian_or_Tobagonian" />
      <xs:enumeration value="Tunisian" />
      <xs:enumeration value="Turkish" />
      <xs:enumeration value="Tuvaluan" />
      <xs:enumeration value="Ugandan" />
      <xs:enumeration value="Ukrainian" />
      <xs:enumeration value="Uruguayan" />
      <xs:enumeration value="Uzbekistani" />
      <xs:enumeration value="Venezuelan" />
      <xs:enumeration value="Vietnamese" />
      <xs:enumeration value="Welsh" />
      <xs:enumeration value="Yemenite" />
      <xs:enumeration value="Zambian" />
      <xs:enumeration value="Zimbabwean" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Nationality" nillable="true" type="tns:Nationality" />
  <xs:complexType name="ArrayOfStoryline">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Storyline" nillable="true" type="tns:Storyline" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoryline" nillable="true" type="tns:ArrayOfStoryline" />
  <xs:complexType name="Storyline">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abstrakt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Added" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Author" nillable="true" type="tns:Author" />
      <xs:element minOccurs="0" name="Genres" nillable="true" type="tns:ArrayOfGenre" />
      <xs:element minOccurs="0" name="HasNew" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastChange" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element minOccurs="0" name="Subtitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Storyline" nillable="true" type="tns:Storyline" />
</xs:schema>