StoryHub/QuickTestProject/Web References/MyReference2/GetSimpleDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GetSimpleDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.h1002584.qshapps.net/GetSimpleDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.h1002584.qshapps.net/GetSimpleDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.h1002584.qshapps.net/GetSimpleDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StoryHub.DAL.Model" />
      <xsd:import schemaLocation="http://www.h1002584.qshapps.net/GetSimpleDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGetSimpleDataService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IGetSimpleDataService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IGetSimpleDataService_GetUserByMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByMethod" />
  </wsdl:message>
  <wsdl:message name="IGetSimpleDataService_GetUserByMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByMethodResponse" />
  </wsdl:message>
  <wsdl:message name="IGetSimpleDataService_ActivationTest_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivationTest" />
  </wsdl:message>
  <wsdl:message name="IGetSimpleDataService_ActivationTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivationTestResponse" />
  </wsdl:message>
  <wsdl:message name="IGetSimpleDataService_WebMethodTest_InputMessage">
    <wsdl:part name="parameters" element="tns:WebMethodTest" />
  </wsdl:message>
  <wsdl:message name="IGetSimpleDataService_WebMethodTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:WebMethodTestResponse" />
  </wsdl:message>
  <wsdl:portType name="IGetSimpleDataService">
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetSimpleDataService/GetUser" message="tns:IGetSimpleDataService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetSimpleDataService/GetUserResponse" message="tns:IGetSimpleDataService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetSimpleDataService/GetUserByMethod" message="tns:IGetSimpleDataService_GetUserByMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetSimpleDataService/GetUserByMethodResponse" message="tns:IGetSimpleDataService_GetUserByMethod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivationTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetSimpleDataService/ActivationTest" message="tns:IGetSimpleDataService_ActivationTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetSimpleDataService/ActivationTestResponse" message="tns:IGetSimpleDataService_ActivationTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WebMethodTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IGetSimpleDataService/WebMethodTest" message="tns:IGetSimpleDataService_WebMethodTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGetSimpleDataService/WebMethodTestResponse" message="tns:IGetSimpleDataService_WebMethodTest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="GetSimpleDataService" />
</wsdl:definitions>